src/*.exe
src/kombatkoin
src/kombatkoind
src/test_kombatkoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.kombatkoin

# Compilation and Qt preprocessor part
*.qm
Makefile
kombatkoin-qt
KombatKoin-Qt.app

# Unit-tests
Makefile.test
kombatkoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb-*/Makefile
.cproject
.project

